<h2>
  <button mat-icon-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  Recherche: </h2>
<form [formGroup]="searchForm">
  <mat-form-field appearance="outline" class="full-width-input">
    <mat-label>Rechercher:</mat-label>
    <input matInput formControlName="query">
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <mat-label>Rechercher dans:</mat-label>
    <mat-select formControlName="searchOption">
      <mat-option value="servers">Serveurs</mat-option>
      <mat-option value="sites">Sites</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <mat-label>Filtrer par:</mat-label>
    <mat-select formControlName="searchFilter">
      <mat-option value="name">Nom</mat-option>
      <mat-option value="domainName">Nom de domaine</mat-option>
      <mat-option value="ipAddress">Adresse IP</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<br><br>

<div *ngIf="searchResults.length > 0">
  <h3>Résultats de la recherche</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th *ngIf="searchForm.value.searchOption === 'sites'">Nom de domaine</th>
        <th>Adresse IP</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of searchResults">
        <td>{{ result.name }}</td>
        <td *ngIf="searchForm.value.searchOption === 'sites'">{{ result.domainName }}</td>
        <td>{{ result.ipAddress }}</td>
        <td>
          <ng-container *ngIf="searchForm.value.searchOption === 'servers'; else elseTemplate">
            <button mat-mini-fab color="primary" routerLink="/servers/{{result.id}}">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </ng-container>
          <ng-template #elseTemplate>
            <button mat-mini-fab color="primary" routerLink="/servers/{{result.serverId}}/sites/{{result.id}}">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="searchResults.length === 0 && searchForm.value.query !== ''">
  <p>Aucun résultat trouvé.</p>
</div>
